.layout {
    width: 100vw;
    height: 100vh;
}

.home__container,
.portfolio__container {
    width: 90%;
    margin: 0 auto;
}

.home__title,
.portfolio__title {
    text-align: center;
    font-size: 1.4rem;
}

button {
    outline: none;
    border: 2px solid black;
    border-radius: 6px;
    margin: 0px 2px 6px 2px;
    display: inline-block;
}

.active__button,
.active {
    font-weight: 500;
    background-color: var(--main-color);
}

.active__button:hover {
    cursor: pointer;
}

.locked__button {
    cursor: default;
    background-color: var(--secondary-color);
}

.free__button:hover {
    background-color: var(--secondary-color);
    cursor: pointer;
}

.row {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.row>div {
    border: 1px solid var(--secondary-color);
    margin: 1px;
}

.table_header {
    background-color: var(--secondary-color);
    font-weight: bolder;
}

@media (min-width: 800px) {

    .portfolio__container,
    .home__container {
        width: 50%;
    }
}